.cat {
  margin: 100px 0 0 0;
  width: 400px;
  position: relative;
}

.cat-head {
  position: relative;
  width: 400px;
  height: 300px;
  background: #000;
  border-radius: 60% 60% 50% 50%;
}

.cat-ears {
  width: 100%;
  position: absolute;
  top: -80px;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.cat-ear {
  width:0;
  height:0;
  border-style:solid;
  border-width: 0 70px 140px 70px;
  border-color: transparent transparent #000000 transparent;
}

.cat-ear:first-child {
  transform: rotate(340deg);
}

.cat-ear:last-child {
  transform: rotate(20deg);
}

.cat-eyes {
  display: flex;
  justify-content: center;
  gap: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.cat-eye {
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cat-eye_pupil {
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 100vh;
}

.cat-nose {
  width:0;
  height:0;
  border-style:solid;
  border-width: 24px 30px 0 30px;
  border-color: #E6FF00 transparent transparent transparent;
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translateX(-50%);
}

.cat-body {
  width: 300px;
  height: 350px;
  background: #000;
  border-radius: 100% 100% 50% 50%;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
}

.cat-body_parts {
  position: relative;
}

.cat-tail {
  width: 300px;
  height: 40px;
  background: #000;
  position: absolute;
  bottom: 80px;
  left: 250px;
  border-radius: 100vh;
  transform-origin:left top;
  animation: tail-furifuri 4s linear infinite;
}

@keyframes tail-furifuri{
  0%{
    transform: rotate(320deg);
  }

  50%{
    transform: rotate(350deg);
  }

  100%{
    transform: rotate(320deg);
  }
}